.topnav {
    text-align: center;
    background-color: lightgrey;
}
.nav-element {
    /*margin: 30px;*/
}

.content {
    background-color: white;
    margin: 25px;
    padding: 20px;
}

.login-logout {
    text-align: center;
}

.index-text {
    text-align: center;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}