.topnav {
    text-align: center;
    background-color: lightgrey;
}
.nav-element {
    /*margin: 30px;*/
    color: black;
}

.content {
    background-color: white;
    margin: 25px;
}

.login-logout {
    text-align: center;
}